body {
  font-family: sans-serif;
}

legend {
  font-size: 2em;
}

form {
  line-height: 2em;
}

#container {
  margin: 10px 100px 100px 100px;
}

#start-button {
  margin-top: 40px;
}

#self-generated-nice-thing {
  height: 10%;
  width: 50%;
}