body {
  font-size: 1em;
}

label {
  font-weight: bold;
}

form {
  line-height: 1.8em;
}

select, button, #self-generated-nice-thing, #name, #number, #email {
  width: 95%;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

button {
  background-color: #CC0000;
  margin-top: 20px;
  height: 3em;
  font-size: 1.5em;
  color: white;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

#container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px auto 10px auto;
}
